/*Reglas        --> body {
                      background: #ffbf00;
                    }
  Selectores    --> body {
                    }
  Declaraciones -->      {
                      background: #ffbf00;
                    }
  Propiedades   --> background:
  Valores       --> #ffbf00;*/

/*gris #8E7970
  rojo #F55449
  negro #0F1F38
  azul1 #1B4B5A
  azul2 #78A5A3
  
  dark navy #011A27
  blueberry #063852
  tangerine #F0810F
  vdaffodil #E6DF44*/

.header {
  /*Size*/
  width: 100%;
  height: 40px;
  /*Border*/
  border: 5px solid #063852;
  border-radius: 10px;
  /*Background*/
  background-color: #6b6a6a;
  /*Margin & padding*/
  margin: 0px;
  padding: 10px;
  /*Orientation & position*/
  position: fixed;
  top: 0;
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.name {
  /*Font*/
  color: #fff;
  text-decoration: none;
  font-size: 25px;
  /*Size*/
  height: 45px;
  /*Background*/
  background-color: #6b6a6a;
  /*Margin & padding*/
  margin: 0px;
  padding: 0px;
  /*Orientation & position*/
  display: flex;
}

body header nav ol {
  /*Size*/
  height: auto;
  /*Background*/
  background-color: #6b6a6a;
  /*Margin & padding*/
  margin: 0px;
  margin-top: -10px;
  padding-top: 5px;
  padding-bottom: 5px;
  /*Orientation & position*/
  display: flex;
  vertical-align: center;
}

li {
  /*Margin & padding*/
  margin: 0px 20px 0px 20px;
  /*Orientation & position*/
  display: inline;
}

body header nav ol li a {
  /*Font*/
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
  /*Orientation & position*/
  justify-content: space-around;
}

.name:hover, body header nav ol li a:hover, .send-button:hover {
  /*Font*/
  color: #063852;
}

.hero {
  /*Font*/
  text-align: center;
  /*Size*/
  height: auto;
  /*Margin & padding*/
  padding-top: 60px;
  padding-bottom: 60px;
  /*Orientation & position*/
  display: block;
  flex-wrap: wrap;
}

p {
  /*Font*/
  font-family: 'Encode Sans', sans-serif;
}

h1 {
  /*Font*/
  color: #FFF;
  line-height: 53px;
  font-size: 50px;
  text-shadow: 5px 5px #000;
  /*Size*/
  width: 100%;
}

h1 strong {
  /*Font*/
  color: #76afd3;
}

h1, h2, h3, h4, h5, h6 {
  /*Font*/
  font-family: "Signika", sans-serif;
  font-weight: normal;
  letter-spacing: -.2px;
}

.hero-image {
  border-radius: 10px;
  width: auto;
}

body {
  /*Font*/
  font-family: 'Encode Sans', sans-serif;
  /*Margin & padding*/
  margin: 0;
  /*Background*/
  background-color: #011A27;
}

.portfolio-title, .certifications-title, .contact-title, .software-title {
  /*Font*/
  color: #fff;
  font-family: 'Encode Sans', sans-serif;
  /*Size*/
  width: auto;
  height: 40px;
  /*Border*/
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  /*Background*/
  background-color: #6b6a6a;
  /*Margin & padding*/
  margin: 0px 20px 0px 20px;
  padding: 10px;
  /*Orientation and position*/
  display: flex;
  justify-content: center;
}

.project {
  /*Font*/
  color: #fff;
  font-size: 20px;
  /*Size*/
  width: auto;
  /*Border*/
  border-bottom: 3px solid #063852;
  border-top: 3px solid #063852;
  border-radius: 10px;
  /*Margin & padding*/
  margin: -10px 20px 60px 20px;
  padding: 40px;
  padding-left: 50px;
  /*Background*/
  background-color: #6b6a6a;
  /*Orientation and position*/
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.project-details {
  /*Font*/
  text-align: justify;
  /*Size*/
  width: 700px;
}

.project-details a {
  /*Font*/
  color: #fff;
  text-decoration: none;
}

.project-details a:hover {
  /*Font*/
  text-decoration: underline;
}

.project-image {
  /*Size*/
  width: 200px;
  /*Border*/
  border-radius: 10px;
  /*Margin & padding*/
  margin: 0px;
}

.certifications {
  /*Font*/
  color: #fff;
  font-size: 20px;
  /*Border*/
  border-bottom: 3px solid #063852;
  border-top: 3px solid #063852;
  border-radius: 10px;
  /*Background*/
  background-color: #6b6a6a;
  /*Margin & padding*/
  margin: 0px 20px 60px 20px;
  padding: 20px;
}

.certifications a {
  /*Font*/
  color: #fff;
}

.certifications-titles {
  text-align: center
}

.certifications h3 {
  border-bottom: 1px solid #063852;
  border-radius: 10px;
}

.certifications-imageContainer-desweb, .certifications-imageContainer-engineering, .certifications-imageContainer, .certifications-imageContainer-physics  {
  /*Orientation & position*/
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  flex-wrap: wrap;
}

.desweb1, .engineering1, .engineering2, .eng1, .eng2, .eng3, .eng4, .eng5, .eng6, .physics1 {
  /*Border*/
  border-radius: 10px;
}

.certifications-profile {
  text-decoration: none;
  display: flex;
  justify-content: center;
}

.certifications-profile:hover {
  text-decoration: underline;
}

.software-article {
  /*Font*/
  color: #fff;
  font-size: 25px;
  /*Size*/
  width: auto;
  height: auto;
  /*Background*/
  background-color: #6b6a6a;
  /*Border*/
  border-bottom: 3px solid #063852;
  border-top: 3px solid #063852;
  border-radius: 10px;
  /*Margin & padding*/
  padding: 20px;
  margin: 0px 20px 60px 20px;
  /*Orientation & position*/
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.software-article p {
  padding: 20px;
  border-right: 5px solid;
}

.contact-article {
  font-size: 20px;
  color: #fff;
  width: auto;
  background-color: #6b6a6a;
  border-bottom: 3px solid #063852;
  border-top: 3px solid #063852;
  border-radius: 10px;
  margin: -10px 20px 60px 20px;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.social-link {
  width: 50px;
  height: 50px;
  background-size: 70px 70px;
  margin: 10px;
  display: inline-flex;
  justify-content: space-around;
}

.social-link.github, .social-link.twitter, .social-link.facebook, .social-link.instagram{
  width: 70px;
  height: 70px;
  border-radius: 10px;
}

.social-link.github {
  background-image: url("../images/índice.svg");
}

.social-link.twitter {
  background-image: url("../images/tw.svg");
}

.social-link.facebook {
  background-image: url("../images/fb.svg");
}

.social-link.instagram {
  background-image: url("../images/ins.svg");
}

.footer-content {
  background-color: #6b6a6a;
  color: #fff;
  text-decoration: none;
  display: flex;
  justify-content: space-around;
  font-family: 'Encode Sans', sans-serif;
  flex-wrap: wrap;
}

.footer-content a {
  color: #fff;
  text-decoration: none;
}

.footer p {
  border-bottom: 1px solid #063852;
  border-radius: 10px;
  padding-bottom: 6px;
}

.email-input {
  text-align: center;
  width: 300px;
  height: 30px;
  border-radius: 10px;
  font-size: 20px;
  background-color: #fff;
}

.send-button {
  margin: 0px;
  height: 40px;
  width: 80px;
  border-radius: 10px;
  background-color: #fff;
}

@media screen and (max-width:1090px) {
  .contact-div {
    height: 60px;
    display: flex;
    justify-content: center;
  }
  .send-button {
    margin-left: 5px;
  }
}

@media screen and (max-width:1024px) {

}

@media screen and (max-width:994px) {
  /*Header*/
  .name {
    justify-content: center;
  }
  .hero-image {
    width: 100%;
  }
  .header {
    display: block;
    height: auto;
    width: auto;
    position: initial;
  }
  .header nav ol {
    /*Font*/
    text-align: center;
    /*Size*/
    height: auto;
    width: auto;
    /*Margin & padding*/
    margin: 5px;
    padding: 5px;
    /*Orientation & position*/
    display: block;
  }
  .header ol li {
    height: 40px;
  }
  .header li {
    display: block;
  }
  /*Portfolio*/
  .project-details {
    width: auto;
    font-size: 25px;
  }

  /*Contact*/
  .contact-article {
    font-size: 25px;
  }
}

@media screen and (max-width:767px) {
  .hero {
    height: 100%;
  }
  .hero h1 {
    font-size: 35px;
  }
  .portfolio-title, .certifications-title, .contact-title, .software-title {
    font-size: 20px;
    width: auto;
    height: 30px;
  }
  .project-details, .certifications, .software-article, .contact-article, .footer-content,
  .email-input, .send-button {
    font-size: 20px;
  }
  .eng1, .eng2, .eng3, .eng4, .eng5, .eng6, .engineering1, .engineering2, .physics1, 
  .desweb1 {
    width: 100%;
  }
  .software-article {
    text-align: center;
    display: block;
  }
  .software-article p {
    border: 0px;
    border-bottom: 3px solid #063852;
  }
  .contact-div {
    text-align: center
  }
  .email-input {
    width: auto;
    margin-bottom: 20px;
  }
  .send-button {
    width: auto;
  }
}

@media screen and (max-width:480px) {
  .name {
    font-size: 1em;
    height: 30px;
  }
  .header ol li {
    height: 29px;
  }
  .header nav ol li a {
    font-size: 13px;
  }
  .hero {
    padding-top: initial;
  }
  .project-image {
    width: 100%;
  }
  .footer div p {
    font-size: 15px;
  }
}

@media screen and (max-width:475px) {
  .social-media {
    text-align: center;
  }
}

@media screen and (max-width:320px) {
  .hero h1{
    font-size: 25px; 
    line-height: 35px;
  }
  .portfolio-title, .certifications-title, .contact-title, .software-title {
    font-size: 17px;
    font-weight: bold;
  }
  .project-details, .certifications, .software-article, .contact-article, .footer-content,
  .email-input, .send-button {
    font-size: 15px;
  }

  .footer div p {
    font-size: 11px;
  }

}
