/*Reglas        --> body {
                      background: #ffbf00;
                    }
  Selectores    --> body {
                    }
  Declaraciones -->      {
                      background: #ffbf00;
                    }
  Propiedades   --> background:
  Valores       --> #ffbf00;*/

header {
  height: 30px;
  display: flex;
}

.header {
  border: solid;
  background-color: rgb(32, 38, 48);
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.hero {
  border: solid;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-color: #000000;
  border-width: thick;
  height: 300px;
  background-image: url('../hero-back.jpg');
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
}

body {
  background-color: rgb(32, 38, 48);
  font-family: 'Encode Sans', sans-serif;
  margin: 0;
}

p {
  font-family: 'Encode Sans', sans-serif;
}

h1 {
  width: 910px;
  color: #FFFFFF;
  line-height: 53px;
  font-size: 50px;
  text-shadow: 5px 5px #000000
}

h1 strong {
  color: rgb(231, 152, 113);
}

h1, h2, h3, h4, h5, h6{
  font-family: "Signika", sans-serif;
  font-weight: normal;
  letter-spacing: -.2px;
}

body header nav ol {
  margin: 0px;
  padding-left: 100px;
  height: 40px;
  color: #FFFF;
}

body header nav ol li a {
  color: #FFFFFF;
  text-decoration: none;
}

li {
  display: inline;
  font-size: 20px;
  margin: 50px;
  text-align: center;
}


.portfolio-title, .certifications-title, .contact-title, .software-title {
  color: #000000;
  width: 350px;
  height: 40px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: lightblue;
  margin-left: 250px;
  margin-bottom: 0px;
  padding: 10px;
  text-align: center;
  font-family: 'Encode Sans', sans-serif;
}

.portfolio-project {
  border: solid;
  background-color: lightblue;
  position: relative;
  border: solid;
  border-radius: 10px;
  padding: 40px;
  padding-left: 100px;
  margin: 200px;
  margin-top: 0px;
  margin-bottom: 60px;
  box-sizing: border-box;
  font-size: 20px;
  display: flex;
  justify-content: center;
}

.project-details {
  width: 700px;
}

.project {
  display: flex;
  flex-shrink: 0;
  flex-wrap: wrap;
}

.project-image {
  width: 200px;
  border-radius: 10px;
}

.english-certification {
  background-color: lightblue;
  border: solid;
  border-radius: 10px;
  padding: 50px;
  margin: 200px;
  margin-top: 0px;
  margin-bottom: 60px;
  box-sizing: border-box;
  font-size: 20px;
}
.certifications-imageContainer {
  display: flex;
  flex-shrink: 0;
  flex-wrap: wrap;
  justify-content: center;
}
section article div figure {
  margin: 5px;
}

.contact-article, .software-article {
  background-color: lightblue;
  border: solid;
  border-radius: 10px;
  padding: 30px;
  margin: 200px;
  margin-top: 0px;
  margin-bottom: 60px;
  box-sizing: border-box;
  font-size: 20px;
}

.footer-content {
  background-color: rgb(64, 77, 96);
  color: #FFFFFF;
  text-decoration: none;
  display: flex;
  justify-content: space-around;
  font-family: 'Encode Sans', sans-serif;
}

.footer-content a {
  color: #FFFFFF;
  text-decoration: none;}
  
