/*Reglas        --> body {
                      background: #ffbf00;
                    }
  Selectores    --> body {
                    }
  Declaraciones -->      {
                      background: #ffbf00;
                    }
  Propiedades   --> background:
  Valores       --> #ffbf00;*/

header {
  height: 30px;
  display: flex;
}

.header {
  border: solid;
  background-color: rgb(32, 38, 48);
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  display: flex;
  min-width: 1111px;
}

.hero {
  border: solid;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-color: #000000;
  border-width: thick;
  height: 300px;
  background-image: url('../hero-back.jpg');
  background-repeat: no-repeat;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  min-width: 1908px;
}

body {
  background-color: rgb(32, 38, 48);
  font-family: 'Encode Sans', sans-serif;
  margin: 0;
}

p {
  font-family: 'Encode Sans', sans-serif;
}

h1 {
  width: 910px;
  color: #FFFFFF;
  line-height: 53px;
  font-size: 50px;
  text-shadow: 5px 5px #000000
}

h1 strong {
  color: rgb(231, 152, 113);
}

h1, h2, h3, h4, h5, h6{
  font-family: "Signika", sans-serif;
  font-weight: normal;
  letter-spacing: -.2px;
}

body header nav ol {
  margin: 0px;
  padding-left: 100px;
  height: 40px;
  color: #FFFF;
}

body header nav ol li a {
  color: #FFFFFF;
  padding: 4px;
  text-decoration: none;
}

body header nav ol li a:hover {
  color: black;
  border: solid;
  border-color: black;
  border-radius: 10px;
  background-color: rgb(173, 216, 230);
}

li {
  display: inline;
  font-size: 20px;
  margin: 50px;
  text-align: center;
}


.portfolio-title, .certifications-title, .contact-title, .software-title {
  color: #000000;
  width: 350px;
  height: 40px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: lightblue;
  margin-left: 250px;
  margin-bottom: 0px;
  padding: 10px;
  text-align: center;
  font-family: 'Encode Sans', sans-serif;
}

.portfolio-title {
  margin-left: 380px;
}

.software-title {
  margin-left: 640px;
}

.contact-title {
  margin-left: 470px;
}

.project {
  border: solid;
  background-color: lightblue;
  position: relative;
  border: solid;
  border-radius: 10px;
  padding: 40px;
  padding-left: 100px;
  margin: 300px;
  margin-top: 0px;
  margin-bottom: 60px;
  box-sizing: border-box;
  font-size: 20px;
  display: flex;
  justify-content: center;
  max-width: 1308px;
  min-width: 1308px;
}

.project-details {
  width: 700px;
}

.project {
  display: flex;
  flex-shrink: 0;
  flex-wrap: wrap;
}

.project-image {
  width: 200px;
  border-radius: 10px;
}

.english-certification {
  background-color: lightblue;
  border: solid;
  border-radius: 10px;
  padding: 50px;
  margin: 200px;
  margin-top: 0px;
  margin-bottom: 60px;
  box-sizing: border-box;
  font-size: 20px;
  max-width: 1508px;
  min-width: 1508px;
}
.certifications-imageContainer {
  display: flex;
  flex-shrink: 0;
  flex-wrap: wrap;
  justify-content: center;
}

section article div figure {
  margin: 5px;
}

.software-article {
  background-color: lightblue;
  border: solid;
  border-radius: 10px;
  padding: 20px;
  margin: 600px;
  margin-top: 0px;
  margin-bottom: 60px;
  box-sizing: border-box;
  font-size: 20px;
  font-size: 25px;
  display: flex;
  justify-content: center;
  max-width: 708px;
  min-width: 708px;
}

.software-article p {
  padding: 20px;
  border-right: 5px solid;
}

.contact-article {
  background-color: rgb(64, 77, 96);
  color: #FFFFFF;
  border: solid;
  border-color: #000000;
  border-radius: 10px;
  padding: 30px;
  margin: 400px;
  margin-top: 0px;
  margin-bottom: 60px;
  box-sizing: border-box;
  font-size: 20px;
  display: flex;
  align-items: center;
  max-width: 1108px;
  min-width: 1108px;
}

.contact-title {
  background-color: rgb(64, 77, 96);
  color: #FFFFFF;
}

.social-link {
  width: 50px;
  height: 50px;
  background-size: 70px 70px;
  margin: 10px;
  display: inline-block;
  justify-content: space-between;
}

.social-link.github {
  background-image: url("../índice.svg");
  width: 70px;
  height: 70px;
}

.social-link.github:hover {
  border-radius: 50px;
  background-color: black;
}

.social-link.twitter {
  background-image: url("../tw.svg");
  width: 70px;
  height: 70px;
}

.social-link.twitter:hover {
  border-radius: 50px;
  background-color: rgb(31, 162, 242);
}

.social-link.facebook {
  background-image: url("../fb.svg");
  width: 70px;
  height: 70px;
}

.social-link.facebook:hover {
  border-radius: 50px;
  background-color: blue;
}

.social-link.instagram {
  background-image: url("../ins.svg");
  width: 70px;
  height: 70px;
}

.social-link.instagram:hover{
  border-radius: 50px;
  background-color: rgb(249, 196, 92);
}

.footer-content {
  background-color: rgb(64, 77, 96);
  color: #FFFFFF;
  text-decoration: none;
  display: flex;
  justify-content: space-around;
  font-family: 'Encode Sans', sans-serif;
}

.footer-content a {
  color: #FFFFFF;
  text-decoration: none;
}

.email-input {
  border-radius: 10px;
  height: 30px;
}

.send-button {
  display: block;
  margin: 5px;
  margin-left: 0px;
  height: 40px;
  width: 120px;
  border-radius: 10px;
}
